.flex{
    display: flex;
}
.grid{
    height: 500px;
    display: grid;
    gap: 20px;
}
.card{
    max-width: 1200px;
    height: fit-content;
    /* box-shadow: 0 0 20px rgb(42 110 70); */
    border-left: 150px solid #a5c0aa;
    border-radius: 10px;
    padding: 30px 10px;
    display: flex;
    text-align: center;
    margin-top: 50px;  
    gap: 20px;
    z-index: 3;
}
.card img{
    width: 450px;
    height: 450px;
    z-index: 2;
    box-shadow: 0px 0px 10px black;
}
.left{
    border-radius: 0px 300px;
    margin-left: -80px;
}
.right{
    border-radius: 300px 0px;
}
.card p:last-child{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #a5c0aa;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: "Bluefish";
    font-size: 28px;
}
.name{ 
    display: flex;  
    gap: 100px;
    justify-content: space-between;
}
.name h2{
    font-size: 36px;
    font-family: "HuggyBear";
}
.name h3{
    font-size: 33px;
    font-family: "Alban";
    background: white;
    color: black;
    font-weight: bold;
    padding: 20px;
    box-shadow:inset 0 0 20px #607d8b;
}
.content{
    font-family: "Bluefish";
}
.content p{
    font-family: "Bluefish";
    font-size: 28px;
}
.but{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.but button{
    font-size: 22px;
    font-weight: 100;
    font-family: "Bear";
    border: 5px solid #a5c0aa;
    transition: all 0.3s;
} .but button:hover{
    border: 0px;
    border-top: 5px solid rgb(42 110 70);
    border-bottom: 20px solid rgb(42 110 70);
    margin-top: 20px;
    transition: all 0.3s;
}


@media (max-width: 1921px) {
    .card{
        max-width: 1800px;
        gap: 330px;
    }
}
@media (max-width: 1641px) {
    .card{
        max-width: 1400px;
        gap: 80px;
    }
}
@media (max-width: 1281px) {
    .grid{
        height: 550px;
    }
    .card{
        max-width: 1000px;
        border-left: 150px solid #a5c0aa;
        display: flex;
    }
    .card img{
        width: 250px;
        height: 300px;
    }
    .left{
        border-radius: 0px 100px;
        margin-left: -100px;
    }
    .right{
        border-radius: 100px 0px;
        margin-left: -40px;
    }
    .card p:last-child{
        font-size: 28px;
    }
    .name{ 
        gap: 100px;
    }
    .name h2{
        font-size: 36px;
    }
    .name h3{
        font-size: 28px;
    }
    .content p{
        font-size: 28px;
    }
    .but{
        gap: 80px;
    }
    .but button{
        font-size: 22px;
    } 
}
@media (max-width: 821px) {
    .grid{
        height: 550px;
    }
    .card{
        max-width: 800px;
        border-left: 150px solid #a5c0aa;
        display: grid;
    }
    .card img{
    
    }
    .left{
        border-radius: 0px 0px;
        margin-left: -80px;
    }
    .right{
        border-radius: 0px 0px;
        margin-left: -80px;
    }
    .card p:last-child{
        font-size: 28px;
    }
    .name{ 
        gap: 100px;
    }
    .name h2{
        font-size: 36px;
    }
    .name h3{
        font-size: 33px;
    }
    .content p{
        font-size: 28px;
    }
    .but{
        gap: 80px;
    }
    .but button{
        font-size: 22px;
    } 
}
@media (max-width: 769px) {
  
}
@media (max-width: 481px) {

}