.container{
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 3;
}
.container li img{
    position: absolute;
    width: 300px;
    height: 300px;
    transition: all 0.3s;
    box-shadow: 0px 0px 20px black;
}
.container li:first-child img{
    margin: -100px 0px 0px 0px;
    border-radius: 200px;
}
.container li:nth-child(2) img{
    margin-left: 1020px;
    margin-top: -400px;    
    border-radius: 0px 300px;
}
.container li:last-child img{
    margin: -1000px 0px 0px -190px;
    border-radius: 200px 0px;
}
.container li a img:hover{
    width: 50px;
    transition: all 0.3s;
}
.container li::marker{
    content: "";
}

